services/importer/src/test/resources/cleaner/sequence-dirty.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://net.modelbased.com/mediation/samples/document"
	xmlns:tns="http://net.modelbased.com/mediation/samples/document"
	elementFormDefault="qualified">

	<element name="foo">
		<complexType>
			<sequence>
				<element name="bar" type="string" />
				<element name="baz" type="string" />
			</sequence>
		</complexType>
	</element>

</schema>