net.modelbased.mediation.library.algorithm/src/test/resources/cleaner/nested-dirty.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://net.modelbased.com/mediation/samples/document"
	xmlns:tns="http://net.modelbased.com/mediation/samples/document"
	elementFormDefault="qualified">

	<element name="foo">
		<complexType>
			<sequence>
				<element name="bar">
					<complexType>
						<choice>
							<element name="quz" type="string" />
							<element name="qiz" type="string" />
						</choice>
					</complexType>
				</element>
				<element name="baz" type="string" />
			</sequence>
		</complexType>
	</element>

</schema>