net.modelbased.mediation.library.algorithm/src/test/resources/cleaner/sequence-expected.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://net.modelbased.com/mediation/samples/document"
	xmlns:tns="http://net.modelbased.com/mediation/samples/document"
	elementFormDefault="qualified">


	<complexType name="fooType">
		<sequence>
			<element name="bar" type="string" />
			<element name="baz" type="string" />
		</sequence>
	</complexType>

	<element name="foo" type="fooType"/>

</schema>